html{
}

#canvas {
    border: 2px red solid;
    background:red;
}

#newGame {
    display: none;
}

#gameLobby {
    display: none;
}

#highScores {
    display: none;
}

#controls {
    display: none;
}

#credits {
    display: none;
}

#noServers {
    display: none;
}
