html{
    background-image:url(../assets/mountains_smaller.png);
}

#canvas {
    border: 2px red solid;
    background:red;
}

#newGame {
    display: none;
}

#gameLobby {
    display: none;
}

#highScores {
    display: none;
}

#controls {
    display: none;
}

#credits {
    display: none;
}
