#canvas {
    background:url(../assets/mountains_smaller.png);
}


#newGame {
    display: none;
}

#gameLobby {
    display: none;
}

#highScores {
    display: none;
}

#controls {
    display: none;
}

#credits {
    display: none;
}
